[Desktop Entry]
Type=Application
Name=Appearance Settings
Name[en_GB]=Appearance Settings
Name[zh_TW]=外觀設定
GenericName=Appearance Settings
GenericName[en_GB]=Appearance Settings
GenericName[zh_TW]=外觀設定
Comment=Configure the appearance of the desktop and windows
Comment[en_GB]=Configure the appearance of the desktop and windows
Comment[zh_TW]=設定桌面與視窗的外觀
Icon=preferences-desktop-theme
Exec=pipanel
NotShowIn=GNOME;XFCE;
StartupNotify=true
Categories=Settings;DesktopSettings;GTK;X-LXDE-Settings;
